In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [ ]:
# load dataset
df = pd.read_csv("/content/drive/MyDrive/project by sriraman sir/storesales.csv")
df

In [ ]:
class WindowFunctions:
    def row_number(self, dataframe):
        """
        Replicates the functionality of the ROW_NUMBER() function.
        Assigns a unique row number to each row in the input dataframe.

        Parameters:
        dataframe (pandas.DataFrame): The input dataframe.

        Returns:
        pandas.DataFrame: A dataframe with a new column 'row_number' that contains the row numbers.
        """
        dataframe['row_number'] = range(1, len(dataframe) + 1)
        return dataframe

    def rank(self, dataframe, column):
        """
        Replicates the functionality of the RANK() function.
        Assigns a rank to each row in the input dataframe based on the values in the specified column.

        Parameters:
        dataframe (pandas.DataFrame): The input dataframe.
        column (str): The name of the column to use for ranking.

        Returns:
        pandas.DataFrame: A dataframe with a new column 'rank' that contains the ranks.
        """
        dataframe['rank'] = dataframe[column].rank(method='min')
        return dataframe

    def dense_rank(self, dataframe, column):
        """
        Replicates the functionality of the DENSE_RANK() function.
        Assigns the same rank to rows with the same value in the specified column.

        Parameters:
        dataframe (pandas.DataFrame): The input dataframe.
        column (str): The name of the column to use for ranking.

        Returns:
        pandas.DataFrame: A dataframe with a new column 'dense_rank' that contains the dense ranks.
        """
        dataframe['dense_rank'] = dataframe[column].rank(method='min').astype(int)
        return dataframe

    def lag(self, dataframe, column, offset):
        """
        Replicates the functionality of the LAG() function.
        Returns a new dataframe with a new column that contains the values from the specified column shifted by the specified offset.

        Parameters:
        dataframe (pandas.DataFrame): The input dataframe.
        column (str): The name of the column to shift.
        offset (int): The number of rows to shift the values by.

        Returns:
        pandas.DataFrame: A dataframe with a new column 'lag' that contains the shifted values.
        """
        dataframe['lag'] = dataframe[column].shift(offset)
        return dataframe

    def lead(self, dataframe, column, offset):
        """
        Replicates the functionality of the LEAD() function.
        Returns a new dataframe with a new column that contains the values from the specified column shifted forward by the specified offset.

        Parameters:
        dataframe (pandas.DataFrame): The input dataframe.
        column (str): The name of the column to shift.
        offset (int): The number of rows to shift the values by.

        Returns:
        pandas.DataFrame: A dataframe with a new column 'lead' that contains the shifted values.
        """
        dataframe['lead'] = dataframe[column].shift(-offset)
        return dataframe

In [ ]:
# Create an instance of the WindowFunctions class
wf = WindowFunctions()

In [ ]:
# Replicate the functionality of the ROW_NUMBER() function
df_row_number = wf.row_number(df)
print(df_row_number)

    id store   sales  row_number
0    1    S1  5770.2           1
1    2    S4  1641.8           2
2    3    S4  4314.0           3
3    4    S4  4895.7           4
4    5    S1  4094.4           5
5    6    S3  2277.3           6
6    7    S1  3854.2           7
7    8    S4  6610.9           8
8    9    S3  4531.7           9
9   10    S4  4854.0          10
10  11    S1  2033.2          11
11  12    S3  4109.3          12
12  13    S4  6878.5          13
13  14    S2  3584.3          14
14  15    S4  4967.3          15
15  16    S3  4923.6          16
16  17    S3  3738.8          17
17  18    S1  4164.7          18
18  19    S1  1701.1          19
19  20    S4  3886.2          20
20  21    S2  1899.8          21
21  22    S1  6611.9          22
22  23    S4  4147.2          23
23  24    S2  4756.3          24
24  25    S2  6406.4          25
25  26    S4  4648.6          26
26  27    S1  6650.4          27
27  28    S4  5006.0          28
28  29    S4  2178.8          29
29  30    S3  4632.7          30
30  31    S4  3947.8          31
31  32    S2  3255.6          32
32  33    S1  3538.5          33
33  34    S4  1815.6          34
34  35    S2  2284.8          35
35  36    S3  4531.8          36
36  37    S3  2541.6          37
37  38    S1  6152.5          38
38  39    S3  2564.0          39

In [ ]:
# Replicate the functionality of the RANK() function
df_rank = wf.rank(df, 'sales')
print(df_rank)

    id store   sales  row_number  rank
0    1    S1  5770.2           1  33.0
1    2    S4  1641.8           2   1.0
2    3    S4  4314.0           3  22.0
3    4    S4  4895.7           4  29.0
4    5    S1  4094.4           5  18.0
5    6    S3  2277.3           6   7.0
6    7    S1  3854.2           7  15.0
7    8    S4  6610.9           8  36.0
8    9    S3  4531.7           9  23.0
9   10    S4  4854.0          10  28.0
10  11    S1  2033.2          11   5.0
11  12    S3  4109.3          12  19.0
12  13    S4  6878.5          13  39.0
13  14    S2  3584.3          14  13.0
14  15    S4  4967.3          15  31.0
15  16    S3  4923.6          16  30.0
16  17    S3  3738.8          17  14.0
17  18    S1  4164.7          18  21.0
18  19    S1  1701.1          19   2.0
19  20    S4  3886.2          20  16.0
20  21    S2  1899.8          21   4.0
21  22    S1  6611.9          22  37.0
22  23    S4  4147.2          23  20.0
23  24    S2  4756.3          24  27.0
24  25    S2  6406.4          25  35.0
25  26    S4  4648.6          26  26.0
26  27    S1  6650.4          27  38.0
27  28    S4  5006.0          28  32.0
28  29    S4  2178.8          29   6.0
29  30    S3  4632.7          30  25.0
30  31    S4  3947.8          31  17.0
31  32    S2  3255.6          32  11.0
32  33    S1  3538.5          33  12.0
33  34    S4  1815.6          34   3.0
34  35    S2  2284.8          35   8.0
35  36    S3  4531.8          36  24.0
36  37    S3  2541.6          37   9.0
37  38    S1  6152.5          38  34.0
38  39    S3  2564.0          39  10.0

In [ ]:
# Replicate the functionality of the DENSE_RANK() function
df_dense_rank = wf.dense_rank(df, 'sales')
print(df_dense_rank)

    id store   sales  row_number  rank  dense_rank
0    1    S1  5770.2           1  33.0          33
1    2    S4  1641.8           2   1.0           1
2    3    S4  4314.0           3  22.0          22
3    4    S4  4895.7           4  29.0          29
4    5    S1  4094.4           5  18.0          18
5    6    S3  2277.3           6   7.0           7
6    7    S1  3854.2           7  15.0          15
7    8    S4  6610.9           8  36.0          36
8    9    S3  4531.7           9  23.0          23
9   10    S4  4854.0          10  28.0          28
10  11    S1  2033.2          11   5.0           5
11  12    S3  4109.3          12  19.0          19
12  13    S4  6878.5          13  39.0          39
13  14    S2  3584.3          14  13.0          13
14  15    S4  4967.3          15  31.0          31
15  16    S3  4923.6          16  30.0          30
16  17    S3  3738.8          17  14.0          14
17  18    S1  4164.7          18  21.0          21
18  19    S1  1701.1          19   2.0           2
19  20    S4  3886.2          20  16.0          16
20  21    S2  1899.8          21   4.0           4
21  22    S1  6611.9          22  37.0          37
22  23    S4  4147.2          23  20.0          20
23  24    S2  4756.3          24  27.0          27
24  25    S2  6406.4          25  35.0          35
25  26    S4  4648.6          26  26.0          26
26  27    S1  6650.4          27  38.0          38
27  28    S4  5006.0          28  32.0          32
28  29    S4  2178.8          29   6.0           6
29  30    S3  4632.7          30  25.0          25
30  31    S4  3947.8          31  17.0          17
31  32    S2  3255.6          32  11.0          11
32  33    S1  3538.5          33  12.0          12
33  34    S4  1815.6          34   3.0           3
34  35    S2  2284.8          35   8.0           8
35  36    S3  4531.8          36  24.0          24
36  37    S3  2541.6          37   9.0           9
37  38    S1  6152.5          38  34.0          34
38  39    S3  2564.0          39  10.0          10

In [ ]:
# Replicate the functionality of the LAG() function
df_lag = wf.lag(df, 'sales', 3)
print(df_lag)

    id store   sales  row_number  rank  dense_rank     lag
0    1    S1  5770.2           1  33.0          33     NaN
1    2    S4  1641.8           2   1.0           1     NaN
2    3    S4  4314.0           3  22.0          22     NaN
3    4    S4  4895.7           4  29.0          29  5770.2
4    5    S1  4094.4           5  18.0          18  1641.8
5    6    S3  2277.3           6   7.0           7  4314.0
6    7    S1  3854.2           7  15.0          15  4895.7
7    8    S4  6610.9           8  36.0          36  4094.4
8    9    S3  4531.7           9  23.0          23  2277.3
9   10    S4  4854.0          10  28.0          28  3854.2
10  11    S1  2033.2          11   5.0           5  6610.9
11  12    S3  4109.3          12  19.0          19  4531.7
12  13    S4  6878.5          13  39.0          39  4854.0
13  14    S2  3584.3          14  13.0          13  2033.2
14  15    S4  4967.3          15  31.0          31  4109.3
15  16    S3  4923.6          16  30.0          30  6878.5
16  17    S3  3738.8          17  14.0          14  3584.3
17  18    S1  4164.7          18  21.0          21  4967.3
18  19    S1  1701.1          19   2.0           2  4923.6
19  20    S4  3886.2          20  16.0          16  3738.8
20  21    S2  1899.8          21   4.0           4  4164.7
21  22    S1  6611.9          22  37.0          37  1701.1
22  23    S4  4147.2          23  20.0          20  3886.2
23  24    S2  4756.3          24  27.0          27  1899.8
24  25    S2  6406.4          25  35.0          35  6611.9
25  26    S4  4648.6          26  26.0          26  4147.2
26  27    S1  6650.4          27  38.0          38  4756.3
27  28    S4  5006.0          28  32.0          32  6406.4
28  29    S4  2178.8          29   6.0           6  4648.6
29  30    S3  4632.7          30  25.0          25  6650.4
30  31    S4  3947.8          31  17.0          17  5006.0
31  32    S2  3255.6          32  11.0          11  2178.8
32  33    S1  3538.5          33  12.0          12  4632.7
33  34    S4  1815.6          34   3.0           3  3947.8
34  35    S2  2284.8          35   8.0           8  3255.6
35  36    S3  4531.8          36  24.0          24  3538.5
36  37    S3  2541.6          37   9.0           9  1815.6
37  38    S1  6152.5          38  34.0          34  2284.8
38  39    S3  2564.0          39  10.0          10  4531.8

In [ ]:
# Replicate the functionality of the LEAD() function
df_lead = wf.lead(df, 'sales', 3)
print(df_lead)

    id store   sales  row_number  rank  dense_rank     lag    lead
0    1    S1  5770.2           1  33.0          33     NaN  4895.7
1    2    S4  1641.8           2   1.0           1     NaN  4094.4
2    3    S4  4314.0           3  22.0          22     NaN  2277.3
3    4    S4  4895.7           4  29.0          29  5770.2  3854.2
4    5    S1  4094.4           5  18.0          18  1641.8  6610.9
5    6    S3  2277.3           6   7.0           7  4314.0  4531.7
6    7    S1  3854.2           7  15.0          15  4895.7  4854.0
7    8    S4  6610.9           8  36.0          36  4094.4  2033.2
8    9    S3  4531.7           9  23.0          23  2277.3  4109.3
9   10    S4  4854.0          10  28.0          28  3854.2  6878.5
10  11    S1  2033.2          11   5.0           5  6610.9  3584.3
11  12    S3  4109.3          12  19.0          19  4531.7  4967.3
12  13    S4  6878.5          13  39.0          39  4854.0  4923.6
13  14    S2  3584.3          14  13.0          13  2033.2  3738.8
14  15    S4  4967.3          15  31.0          31  4109.3  4164.7
15  16    S3  4923.6          16  30.0          30  6878.5  1701.1
16  17    S3  3738.8          17  14.0          14  3584.3  3886.2
17  18    S1  4164.7          18  21.0          21  4967.3  1899.8
18  19    S1  1701.1          19   2.0           2  4923.6  6611.9
19  20    S4  3886.2          20  16.0          16  3738.8  4147.2
20  21    S2  1899.8          21   4.0           4  4164.7  4756.3
21  22    S1  6611.9          22  37.0          37  1701.1  6406.4
22  23    S4  4147.2          23  20.0          20  3886.2  4648.6
23  24    S2  4756.3          24  27.0          27  1899.8  6650.4
24  25    S2  6406.4          25  35.0          35  6611.9  5006.0
25  26    S4  4648.6          26  26.0          26  4147.2  2178.8
26  27    S1  6650.4          27  38.0          38  4756.3  4632.7
27  28    S4  5006.0          28  32.0          32  6406.4  3947.8
28  29    S4  2178.8          29   6.0           6  4648.6  3255.6
29  30    S3  4632.7          30  25.0          25  6650.4  3538.5
30  31    S4  3947.8          31  17.0          17  5006.0  1815.6
31  32    S2  3255.6          32  11.0          11  2178.8  2284.8
32  33    S1  3538.5          33  12.0          12  4632.7  4531.8
33  34    S4  1815.6          34   3.0           3  3947.8  2541.6
34  35    S2  2284.8          35   8.0           8  3255.6  6152.5
35  36    S3  4531.8          36  24.0          24  3538.5  2564.0
36  37    S3  2541.6          37   9.0           9  1815.6     NaN
37  38    S1  6152.5          38  34.0          34  2284.8     NaN
38  39    S3  2564.0          39  10.0          10  4531.8     NaN

# **2.	Simulation of Inventory transaction**

In [12]:
import random

# Define the categories and their total sales
categories = {
    "Furniture": 58578.25,
    "Sports": 39743.95,
    "Food": 73104.65
}

# Define the sub-categories for each category
sub_categories = {
    "Furniture": ["chairs", "tables", "wardrobe", "beds", "couch", "antique", "storage"],
    "Sports": ["shoes", "bags", "backpack", "bottles", "towels"],
    "Food": ["chips", "bread", "chocolate", "biscuits", "rice", "wheat", "sugar", "flour"]
}

# For each category, assign random prices to the sub-categories such that their total equals the total sales value of the category
for category, total_sales in categories.items():
    sub_cat_prices = {}
    for sub_category in sub_categories[category]:
        # Generate a random price for the sub-category
        price = round(random.uniform(1, total_sales), 2)
        sub_cat_prices[sub_category] = price  
        total_sales -= price
    # Assign the remaining total sales value to one of the sub-categories
    sub_cat_prices[random.choice(list(sub_cat_prices.keys()))] += total_sales
    print(f"Prices for {category}: {sub_cat_prices}")

Prices for Furniture: {'chairs': 13695.04, 'tables': 28813.39, 'wardrobe': 9298.369999999999, 'beds': 1520.84, 'couch': 1990.22, 'antique': 2813.7, 'storage': 446.69}
Prices for Sports: {'shoes': 11383.37, 'bags': 16206.739999999994, 'backpack': 4973.3, 'bottles': 4020.26, 'towels': 3160.28}
Prices for Food: {'chips': 17574.54, 'bread': 8768.71, 'chocolate': 25562.74, 'biscuits': 4598.68, 'rice': 11885.65, 'wheat': 2303.88, 'sugar': 1191.26, 'flour': 1219.1899999999926}

# **Simulate transactions (sale of a sub-category product)**
# **	A new product is sold. Update the subcategory and category sales details accordingly**
# **	Display the updated prices**

# **•	To print the total sales of a given product category**

# **•	To print the total sales of a given product sub-category**

In [13]:
def simulate_transaction(category, sub_category, quantity):
    # Get the price of the sub-category
    price = sub_cat_prices[sub_category]
    # Calculate the total cost of the transaction
    total_cost = price * quantity
    # Update the total sales for the sub-category
    categories[category] += total_cost
    # Update the total sales for the category
    sub_categories[category][sub_category] += total_cost

# Test the function by simulating the sale of 2 chairs
simulate_transaction("Furniture", "chairs", 2)

KeyError: ignored

In [ ]:
def get_total_sales(category_or_sub_category, is_category=True):
    if is_category:
        return categories[category_or_sub_category]
    else:
        return sub_categories[category_or_sub_category]

# Test the function by printing the total sales for the Furniture category
print(get_total_sales("Furniture"))

# Test the function by printing the total sales for the chairs sub-category
print(get_total_sales("chairs", is_category=False))

In [14]:
import random

# Create sample product categories and their total sales
categories = {
    "Furniture": 58578.25,
    "Sports": 39743.95,
    "Food": 73104.65
}

# Create sub-categories for each category
subcategories = {
    "Furniture": ["chairs", "tables", "wardrobe", "beds", "couch", "antique", "storage"],
    "Sports": ["shoes", "bags", "backpack", "bottles", "towels"],
    "Food": ["chips", "bread", "chocolate", "biscuits", "rice", "wheat", "sugar", "flour"]
}

# Assign random prices to each sub-category such that their total equals the total sales of their corresponding category
prices = {}
for category, total_sales in categories.items():
    subcat_prices = []
    for subcategory in subcategories[category]:
        price = random.uniform(1, total_sales)
        subcat_prices.append(price)
        total_sales -= price
    prices[category] = subcat_prices

# Simulate a transaction: sale of a sub-category product
def simulate_transaction(category, subcategory):
    # Update the subcategory and category sales details
    subcat_index = subcategories[category].index(subcategory)
    categories[category] -= prices[category][subcat_index]
    prices[category][subcat_index] = 0

    # Display the updated prices
    print(f"Updated sales for category {category}: {categories[category]:.2f}")
    print(f"Updated prices for sub-category {subcategory}: {prices[category][subcat_index]:.2f}")

simulate_transaction("Furniture", "chairs")

Updated sales for category Furniture: 34200.84
Updated prices for sub-category chairs: 0.00